<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10 col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Simple Table</h4>
                        <p class="card-category"> Here is a subtitle for this table</p>
                    </div>

                    <div class="card-body">
                        <form class="navbar-form w-25 p-3">
                            <div class="input-group no-border">
                                <input type="text" value="" class="form-control " #box
                                    (keyup.enter)="onEnter(box.value)" placeholder="Arama..." name="search"
                                    [(ngModel)]="term" autocomplete="off">
                                <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                                    <i class="material-icons">search</i>
                                    <div class="ripple-container"></div>
                                </button>
                            </div>
                        </form>
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Url
                                    </th>
                                    <th>
                                        Date
                                    </th>
                                    <th>
                                        Status
                                    </th>

                                </thead>

                                <tbody *ngIf="pageServices?.content">
                                    <tr *ngFor="let service of pageServices.content ">
                                        <td>
                                            {{ service.id }}
                                        </td>
                                        <td>
                                            {{ service.name }}
                                        </td>
                                        <td>
                                            {{ service.url }}
                                        </td>
                                        <td>
                                            {{ service.date }}
                                        </td>
                                        <td>
                                            {{ service.status }}
                                        </td>

                                    </tr>

                                </tbody>

                            </table>





                        </div>



                    </div>
                    <nav aria-label="...">
                        <ul style="margin-left: 180px;margin-top:-10px;" class="pagination"
                            *ngIf="pageServices?.content">
                            <li *ngFor="let page of ' '.repeat(pageServices.totalPages).split(''), let i = index "
                                (click)="onSelect(i)" [class.active]="i === selectedPage" class="page-item"><a
                                    class="page-link" href="/#/service-list">{{i}}</a>
                            </li>
                        </ul>
                    </nav>

                    <span>
                        <div class="input-group input-group-sm w-25 p-3">
                            <div class="input-group-prepend">
                            </div>
                            <input type="text" class="form-control" aria-label="Small" placeholder="Size"
                                aria-describedby="inputGroup-sizing-sm" (change)="onSelectSize($event.target.value)">
                        </div>


                    </span>



                </div>
            </div>




        </div>

    </div>
</div>