<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <a href="/#/check-service">

                    <div class="card card-stats">


                        <div class="card-header card-header-warning card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">insert_chart
                                </i>
                            </div>

                            <p class="card-category">Check Services</p>
                            <a href="/#/check-service">
                                <h4 class="card-title">Check Services
                                </h4>
                            </a>
                        </div>

                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">local_offer</i> Check Status Web Services

                            </div>
                        </div>

                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6"> <a href="/#/service-list">
                    <div class="card card-stats">
                        <div class="card-header card-header-success card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">format_list_numbered</i>
                            </div>
                            <p class="card-category">List Services</p>
                            <h4 class="card-title">List Services Status</h4>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">local_offer</i> List Web Services Status
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6"><a href="/#/e-mail">
                    <div class="card card-stats">
                        <div class="card-header card-header-danger card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">mail_outline</i>
                            </div>
                            <p class="card-category">Send Service List</p>
                            <h4 class="card-title">Send E-mail</h4>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">local_offer</i> Send Mail Web Services Status
                            </div>
                        </div>
                    </div>
                </a>
            </div>






        </div>
    </div>
</div>