<div class="main-content">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Send E-mail</h4>
                <p class="card-category">Send e-mail for services</p>
            </div>
            <div class="card-body">
                <form (ngSubmit)="onSubmit()" #servicesForm="ngForm">

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="E-mail Adress" type="text" [(ngModel)]="email.toMail"
                                    name="address" #toMail="ngModel">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="E-mail Subject" [(ngModel)]="email.mailSubject"
                                    name="subject" type="text" #mailSubject="ngModel">
                            </mat-form-field>
                        </div>
                    </div>



                    <button mat-raised-button type="submit" class="btn btn-danger pull-right">Send
                    </button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>

</div>